.pro-image {
  height: 250px;
  border-radius: 20px;
  margin-right: 25px;
}

.bio {
  display: flex;
  align-items: center;
}

.title-margin {
  margin-bottom: 15px;
}

.card-wrapper {
  width: 300px;
}

.skills-wrapper {
  display: inline-flex;
}

.center-wrapper {
  width: 100%;
  display: flex;
  align-content: center;
}
